/* Generics */
body {
  font-family: Arial, sans-serif;
  background-color: #e1e1e1;
  
}


/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}
